body{
  display: flex;
  justify-content: space-around;
  font-family:cursive;
}

.container{
  margin-top: 35%;
  display: flex;
  justify-content: space-around;
  padding:10%;
  padding-top: 3%;
  width: max-content;
  text-align: center;
  font-size: 30px;
  height: max-content;
  border-radius: 10%;
  border-top: 50px solid ;
  border-left: 10px solid;
  border-right: 10px solid ;
  border-bottom: 50px solid ;
  border-color: rgb(0, 157, 255);
  box-shadow: 0px 0px 10px rgb(198, 198, 198);
}

.timer{
  color: rgb(0, 0, 65);
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button{
  cursor: pointer;
  font-family: cursive;
  font-size: 26px;
  border-radius: 10px;
  padding: 1%;
  width: 120px;
  background-color: transparent;
}